
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(19, 17, 17);
    color: antiquewhite;
    margin: 15px;
}
#buttonContainer{
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#buttonContainer a {
    margin: auto;
    font-size: 1.75em;
    width: 150px;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid antiquewhite;
    padding: 15px;
}

#title {
    color: rgb(84, 225, 178);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}
#danContact1 {
    color: antiquewhite;
}

#danContact1:hover {
    color: rgb(33, 30, 179);
}

#buttonContainer a:hover {
    color:rgb(19, 17, 17);
    background-color: antiquewhite;
    font-weight: bold;
}

.break {
    border-top: solid thin green;
    width: 75%;
    margin: auto;
}

#wrapper {
    display: flex;
    justify-content: center;
    justify-self: center;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.1em;
}

#container {
    display: flex;
    position: relative;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#danImg {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: solid 3px antiquewhite;
}

p {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.7em;
}

.inner {
    max-width: 100%;
    width: 1000px;
}

img {
    max-width: 100%;
}

#workImg1 {
    width:auto;
}

#workDetails1 {
    display: inline;
}

#con1 {
    display: flex;

}

@media only screen and (max-width: 750px)   {
    p {
        font-size: 1.25em;
    }

    #buttonContainer a{
        font-size: 1.25em;
        padding: 10px;
    }
}