
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(19, 17, 17);
    color: antiquewhite;
}

#wrapper {
    display: flex;
    justify-content: center;
    justify-self: center;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.1em;
}

#container {
    display: flex;
    position: relative;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#danImg {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: solid 3px antiquewhite;
}

p {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.7em;
}

.inner {
    max-width: 100%;
    width: 1000px;
}

img {
    max-width: 100%;
}

#workImg1 {
    width:auto;
}

#workDetails1 {
    display: inline;
}

#con1 {
    display: flex;

}